# ðŸŒŸ Case study with MySQL Software
-Both done with GUI and SQL

ðŸŒŸCreate DATABASE ihh_college;
Use ihh_college;
create TABLE st_details(st_id INT(11),st_name VARCHAR(255),st_email VARCHAR(255),st_mob VARCHAR(255),
st_pass VARCHAR(255) );
select * from ihh_college.st_details;
insert into st_details(st_id,st_name,st_email,st_mob,st_pass)VALUES(1,'Santosh Kumar','santosh@gmail.com',
791565656,123458);