# music store

In [ ]:

XYZ Music Store Analysis in SQL 
->You are hired as a data analyst at a music store, let’s call it "Spotify". You’re given access to a database with information about customers, singers, and more.
->As you explore connections between the data, your manager shares exciting news: the company plans to launch a new product! They need insights from the data to guide their decision-making.
Your task is to analyse the database and provide answers to your manager’s problem statements

In [ ]:
with cte_genre as 
(
select invoice.billing_country,count(invoice_line.quantity) as Quantity , genre.name as Genre,
row_number() over(partition by invoice.billing_country order by count(invoice_line.quantity)desc)as row_num
from invoice_line
join invoice on invoice.invoice_id = invoice_line.invoice_id
join customer on customer.customer_id=invoice.customer_id
join track on track.track_id=invoice_line.track_id
join genre on track.genre_id=genre.genre_id
group by 1, 3
order by 2 desc)
select * from cte_genre where row_num <=1;

In [ ]:
with cte_customer_with_country as 
(
select customer.customer_id,first_name , last_name ,billing_country as country ,email , sum(total) as ToalSpeed ,
row_number()over(partition by country order by sum(total) desc) as rownum
from customer
join invoice on customer.customer_id =invoice.customer_id
group by 1,2,3,4
order by 4,5 desc )

select * from cte_customer_with_country where rownum=1