# unit-8_Assignment

In [ ]:
1) Python program to interchange first and last elements in a list
Input [12, 35, 9, 56, 24]
Output [24, 35, 9, 56, 12]

In [15]:
n= [12,35,9,56,24]

temp=n[0]
n[0]=n[-1]
n[-1]=temp
print(n)

[24, 35, 9, 56, 12]

In [ ]:
2) Find sum and average of List in Python
Input: [4, 5, 1, 2, 9, 7, 10, 8]
Output:
sum = 46
average = 5.75

In [23]:
n=[4, 5, 1, 2, 9, 7, 10, 8]
sum=0
for i in n:
    sum=sum+i

avg=sum/len(n)


print(sum)
print(avg)

46
5.75

In [ ]:
3) Python program to find second largest number in a list
Input: list2 = [70, 11, 20, 4, 100]
Output: 70

In [31]:
n=[70, 11, 20, 4, 100]
n.sort(reverse=True)
print(n)
second_largest=n[1]
print(second_largest)

[100, 70, 20, 11, 4]
70

In [ ]:
4) Python program to count positive and negative numbers in a list
Input
[10, -21, 4, -45, 66, -93, 1]
Output
Positive numbers in the list: 4
Negative numbers in the list: 3

In [35]:
n=[10, -21, 4, -45, 66, -93, 1]
pos_count=0
neg_count=0
for i in n:
    if i>=0:
        pos_count+=1
    else:
        neg_count+=1

print("Positive numbers in the list:",pos_count)
print("Negative numbers in the list:",neg_count)

Positive numbers in the list: 4
Negative numbers in the list: 3

In [ ]:
5) Program to print duplicates from a list of integers
Input [1, 2, 1, 2, 3, 4, 5, 1, 1, 2, 5, 6, 7, 8, 9, 9]
Output
[1, 2, 5, 9]

In [37]:
n= [1, 2, 1, 2, 3, 4, 5, 1, 1, 2, 5, 6, 7, 8, 9, 9]
uniq_list=[]
dup_list=[]
for i in n:
    if i not in uniq_list:
        uniq_list.append(i)
    elif i not in dup_list:
        dup_list.append(i)

print(dup_list)

[1, 2, 5, 9]

In [ ]:
6) Write a Python program to find all the values in a list that are greater than a 
specified number 200.
Input
[220, 330, 500]
Output
True

In [43]:
n=[220, 330, 500]
b=int(input("Enter the numbers"))
res=max(n)>b
print(res)

Enter the numbers 220

True

In [ ]:
7) Remove empty List from List
Input [5, 6, [], 3, [], [], 9]
Output [5, 6, 3, 9]

In [47]:
n=[5, 6, [], 3, [], [], 9]

while [] in n:
    n.remove([])

print(n)

[5, 6, 3, 9]

In [ ]:
8) How to count unique values inside a list
Input [1, 2, 2, 5, 8, 4, 4, 8]
Output 
No of unique items are: 5

In [49]:
n=[1, 2, 2, 5, 8, 4, 4, 8]
l1=[]
count=0
for i in n:
    if i not in l1:
        count+=1
        l1.append(i)

print("No of unique items are:",count)

No of unique items are: 5

In [ ]:
9) Append a list to the second list
Input 
list1 = [1, 2, 3, 0]
list2 = ['Red', 'Green', 'Black']
Output
[1, 2, 3, 0, 'Red', 'Green', 'Black']

In [55]:
list1=[1, 2, 3, 0]
list2 = ['Red', 'Green', 'Black']

list3=list1+list2
print(list3)

[1, 2, 3, 0, 'Red', 'Green', 'Black']

In [ ]:
10) Write a Python program to replace the last element in a list with another list.
Sample data : [1, 3, 5, 7, 9, 10], [2, 4, 6, 8]
Expected Output: [1, 3, 5, 7, 9, 2, 4, 6, 8]

In [57]:
L1=[1, 3, 5, 7, 9, 10]
L2=[2, 4, 6, 8]
L1[-1:]=L2
print(L1)

[1, 3, 5, 7, 9, 2, 4, 6, 8]