# sort()

In [2]:
a=[12,56,89,36,55,10,23,39]
a.sort()
print(a)

[10, 12, 23, 36, 39, 55, 56, 89]

In [4]:
a=[12,56,89,36,55,10,23,39]
a.sort(reverse=True)
print(a)

[89, 56, 55, 39, 36, 23, 12, 10]

In [10]:
b=["hello","python","code","datascience","list"]
b.sort()
print(b)

['code', 'datascience', 'hello', 'list', 'python']

In [12]:
b=["hello","python","code","datascience","list"]
b.sort(reverse=True)
print(b)

['python', 'list', 'hello', 'datascience', 'code']

# reverse()

In [22]:
a=[7,88,36,22,45,36]
print(a[0])
a.reverse()
print(a)
print(a[0])

7
[36, 45, 22, 36, 88, 7]
36

In [18]:
b=["Helllo","Code","Chat","Python","AI"]
b.sort()
print(b)

['AI', 'Chat', 'Code', 'Helllo', 'Python']

# index()

In [39]:
a=[12,55,66,89,19,36]
print(a.index(12))

0

In [41]:
a=[12,55,66,89,19,36]
print(a.index(200))

ValueError: 200 is not in list

# copy()method

In [46]:
L=[12,13,14,15,16]
L1=L.copy()
print(L1)

[12, 13, 14, 15, 16]

In [48]:
L1[2]="Hello"
print(L1)

[12, 13, 'Hello', 15, 16]

In [50]:
print(L)

[12, 13, 14, 15, 16]

In [56]:
"""take the input of the list from the user and then reverse the list"""
a=[]
n=int(input("Enter the number of elements you want in the list"))
for i in range(n):
    a.append(int(input("Enter the elements that you enter")))

print(a)
a.reverse()
print(a)

Enter the number of elements you want in the list 3
Enter the elements that you enter 1
Enter the elements that you enter 2
Enter the elements that you enter 3

[1, 2, 3]
[3, 2, 1]

In [66]:
"""take the input of the list and swap the number from start and end number"""
a=[]
n=int(input("enter the number tha you want in the elements"))
for i in range(n):
    a.append(int(input("Enter the elements")))

print(a)
temp=a[0]
a[0]=a[2]
a[2]=temp
print(a)

enter the number tha you want in the elements 3
Enter the elements 1
Enter the elements 2
Enter the elements 3

[1, 2, 3]
[3, 2, 1]