# Tuples-I

In [3]:
T=(1,2,3,4,5,6,78,96,25,55)
print(T)
print(type(T))

(1, 2, 3, 4, 5, 6, 78, 96, 25, 55)
<class 'tuple'>

In [5]:
T=(12,23,25,88,56.22,63.99)
print(T)
print(type(T))

(12, 23, 25, 88, 56.22, 63.99)
<class 'tuple'>

In [9]:
T=()
print(T)
print(type(T))

()
<class 'tuple'>

In [11]:
T=(25)
print(type(T))

<class 'int'>

In [15]:
T=(25,)
print(type(T))

<class 'tuple'>

In [17]:
T=("Hello",)
print(type(T))

<class 'tuple'>

In [21]:
T=(1,2,3,4,(5,6,7),(8,9,10))
print(type(T))
print(T)

<class 'tuple'>
(1, 2, 3, 4, (5, 6, 7), (8, 9, 10))

# concatenation of tuple

In [24]:
tuple1=(1,2,3,4)
tuple2=(5,6,7,8)
print(tuple1+tuple2)

(1, 2, 3, 4, 5, 6, 7, 8)

# nesting of tuples

In [27]:
tuple1=(1,2,3,4,5)
tuple2=(-1,-2,-3,-4)
tuple3=(tuple1,tuple2)
print(tuple1)
print(tuple2)
print(tuple3)

(1, 2, 3, 4, 5)
(-1, -2, -3, -4)
((1, 2, 3, 4, 5), (-1, -2, -3, -4))

# multiply tuples

In [30]:
t=("apple","Guava","Orange")
t1=t*2
print(t1)

('apple', 'Guava', 'Orange', 'apple', 'Guava', 'Orange')

In [32]:
t=("apple","orange","Mango")
t1=t*3
print(t1)

('apple', 'orange', 'Mango', 'apple', 'orange', 'Mango', 'apple', 'orange', 'Mango')

# length of tuple

In [37]:
T=(12,13,15,"helle","parrot",23.33)
print(len(T))

6

In [39]:
T=(12,13,12,13,15,18,15,19,55)
print(T)

(12, 13, 12, 13, 15, 18, 15, 19, 55)

count()method

In [46]:
T=(12,13,12,15,16,16,18,18)
print(T.count(12))
print(T.count(16))

2
2

# indexing in tuple

In [49]:
t=(12,13,14,15,16,17,18)
print(t[0])

12

In [51]:
t=(12,13,14,15,16,17,18)
print(t[2])

14

In [53]:
t=(12,13,14,15,16,17,18)
print(t[5])

17

In [57]:
t=(12,13,14,15,16,17,18)
print(t[-1])

18

# index() method in tuple

In [66]:
t=(12,13,19,88)
t1=t.index(19)
print(t1)

2

In [68]:
t=(1,2,4,8,"hello","code")
t1=t.index("hello")
print(t1)

4

# slicing in tuple

In [71]:
a=(1,2,3,4,5,6)
print(a[0:4])

(1, 2, 3, 4)

In [73]:
a=(1,2,3,4,5,6)
print(a[:5])

(1, 2, 3, 4, 5)

In [75]:
a=(1,2,3,4,5,6,"code","python","datascience")
print(a[:8])

(1, 2, 3, 4, 5, 6, 'code', 'python')

In [77]:
a=(1,2,3,4,5,6)
print(a[:5:2])

(1, 3, 5)

In [81]:
a=(1,2,3,4,5,6,"code","mango","kesar")
print(a[::-1])

('kesar', 'mango', 'code', 6, 5, 4, 3, 2, 1)

# repetition in tuple

In [84]:
t=(12)*3
print(t)

36

In [86]:
t=("hello")*5
print(t)

hellohellohellohellohello

In [88]:
t=(12,13,14,15)
print(t.append(9))

AttributeError: 'tuple' object has no attribute 'append'

In [90]:
t=(12,13,14)
del(t)
print(t)

NameError: name 't' is not defined

# convert list into tuple

In [95]:
L=[12,13,14,15,16]
a=tuple(L)
print(a)
print(type(a))

(12, 13, 14, 15, 16)
<class 'tuple'>

In [99]:
L=[12,13,15,18,"hello","code","datascience"]
b=tuple(L)
print(b)
print(type(b))

(12, 13, 15, 18, 'hello', 'code', 'datascience')
<class 'tuple'>

In [105]:
"""convert a list into tuple and reverse it"""
L1=[15,16,18,"code","python","datacenter"]
t=tuple(L1)
print(t)
print(type(t))
print(t[::-1])

(15, 16, 18, 'code', 'python', 'datacenter')
<class 'tuple'>
('datacenter', 'python', 'code', 18, 16, 15)

# how to add items in tuple

In [116]:
"""how to add items 18 in tuple"""
t=(12,13,14,15,16)
l=list(t)
print(l)
print(type(l))
l.append(18)
print(l)
t1=tuple(l)
print(t1)
print(type(t1))

[12, 13, 14, 15, 16]
<class 'list'>
[12, 13, 14, 15, 16, 18]
(12, 13, 14, 15, 16, 18)
<class 'tuple'>

# remove item from tuple

In [127]:
t=(12,13,14,15,16)
l1=list(t)
print(l1)
print(type(l1))
l1.remove(15)
print(l1)
t2=tuple(l1)
print(t2)
print(type(t2))

[12, 13, 14, 15, 16]
<class 'list'>
[12, 13, 14, 16]
(12, 13, 14, 16)
<class 'tuple'>