# isdisjoint method()
return True if no item in set x is present in set y

In [3]:
a={12,13,14,15,"help","code"}
b={18,19,20,21,22}
c=a.isdisjoint(b)
print(c)

True

In [6]:
a={12,13,14,15,"help","code"}
b={18,19,20,21,22}
c=b.isdisjoint(a)
print(c)

True

In [8]:
a={12,13,14,15,"help","code"}
b={18,19,20,21,22,12}
c=a.isdisjoint(b)
print(c)

False

# issubset()
Returns whether another set contains this set or not

In [14]:
a={1,2,3,4,5}
b={1,2,3,4,5,6,7}
c=a.issubset(b)
print(c)

True

In [16]:
a={1,2,3,4,5}
b={1,2,3,4,5,6,7}
c=b.issubset(a)
print(c)

False

In [18]:
a={1,2,3,4,5,6,7}
b={1,2,3,4,5,6,7}
c=b.issubset(a)
print(c)

True

In [20]:
a={1,2,3,4,5,6,7}
b={1,2,3,4,5,6,7}
c=a.issubset(b)
print(c)

True

# issuperset()
Returns True if all items set y are present in set x:

In [23]:
x={1,2,3,4,"code","help"}
y={"code",1,2}
z=x.issuperset(y)
print(z)

True

In [25]:
x={1,2,3,4,"code","help"}
y={"code",1,2}
z=y.issuperset(x)
print(z)

False

In [27]:
a={1,2,3}
b={1,2,3}
c=a.issuperset(b)
print(c)

True

In [29]:
a={1,2,3}
b={1,2,3}
c=b.issuperset(a)
print(c)

True

In [31]:
s={3}
print(s)
print(type(s))

{3}
<class 'set'>

In [33]:
s={}
print(s)
print(type(s))

{}
<class 'dict'>

In [37]:
s=set()
print(s)
print(type(s))

set()
<class 'set'>

# set() 
# convert List into set

In [40]:
L=[1,2,3,4,5]
S=set(L)
print(L)
print(type(L))
print(S)
print(type(S))

[1, 2, 3, 4, 5]
<class 'list'>
{1, 2, 3, 4, 5}
<class 'set'>

# convert set into list

In [47]:
s={1,2,3,4,5}
l=list(s)
print(s)
print(type(s))
print(l)
print(type(l))

{1, 2, 3, 4, 5}
<class 'set'>
[1, 2, 3, 4, 5]
<class 'list'>

# tuple -> set

In [53]:
t=(1,2,3,4,5)
s=set(t)
print(t)
print(type(t))
print(s)
print(type(s))

(1, 2, 3, 4, 5)
<class 'tuple'>
{1, 2, 3, 4, 5}
<class 'set'>

# set->tuple

In [56]:
s={1,2,3,4,5}
t=tuple(s)
print(s)
print(type(s))
print(t)
print(type(t))

{1, 2, 3, 4, 5}
<class 'set'>
(1, 2, 3, 4, 5)
<class 'tuple'>

# min in set

In [59]:
a={1,2,3,4}
print(min(a))

1

In [61]:
b={"code","apple","papaya"}
print(max(b))

papaya

# max in set

In [64]:
a={1,55,63,78}
print(max(a))

78

In [66]:
a={"papaya","code","length","zebra"}
print(max(a))

zebra

# copy()

In [71]:
a={1,2,3,4,5}
b=a
a.add(10)
print(a)
print(b)

{1, 2, 3, 4, 5, 10}
{1, 2, 3, 4, 5, 10}

In [73]:
a={1,2,3,4,5}
b=a.copy()
a.add(10)
print(a)
print(b)

{1, 2, 3, 4, 5, 10}
{1, 2, 3, 4, 5}

In [77]:
"""intersection of 2 lists"""
a=[1,2,3,4,5]
b=[1,2,3,9,6]
a1=set(a)
b1=set(b)
print(a1)
print(b1)
c=a1.intersection(b1)
print(c)
z=list(c)
print(z)

{1, 2, 3, 4, 5}
{1, 2, 3, 6, 9}
{1, 2, 3}
[1, 2, 3]

In [83]:
"""taking input set from user"""

a=set()
n=int(input("Enter the numbers of size : "))
for i in range(n):
    b=input("Enter a numbers according to size :")
    a.add(b)

print(a)

Enter the numbers of size :  5
Enter a numbers according to size : 1
Enter a numbers according to size : 2
Enter a numbers according to size : 3
Enter a numbers according to size : 4
Enter a numbers according to size : 5

{'4', '2', '3', '5', '1'}

In [89]:
"""python program to find the common items in 3 lists using set"""
a=[1,2,3,4,5,6,7,8,9,10]
b=[1,2,23,5,9,36,63,55]
c=[1,2,5,9,80,36]
a1=set(a)
a2=set(b)
a3=set(c)
print(a1)
print(a2)
print(a3)
n=a1.intersection(a2)
print(n)
m=n.intersection(a3)
print(m)
res=list(m)
print(res)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 36, 5, 9, 55, 23, 63}
{1, 2, 36, 5, 9, 80}
{1, 2, 5, 9}
{1, 2, 5, 9}
[1, 2, 5, 9]