1) Write a Python program to print the following string in a specific format (see the
output).
Input : "Twinkle, twinkle, little star, How I wonder what you are! Up above the world so
high, Like a diamond in the sky. Twinkle, twinkle, little star, How I wonder what you are"
Output :
Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.
Twinkle, twinkle, little star,
How I wonder what you are

In [11]:
print("Twinkle, twinkle, little star,\nHow I wonder what you are!\nUp above the world so high,\nLike a diamond in the sky.\nTwinkle, twinkle, little star,\nHow I wonder what you are")

Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.
Twinkle, twinkle, little star,
How I wonder what you are

In [ ]:
2) Write a Python program that calculates the area of a circle based on the radius 10
cm, 12 cm and 25.67 c

In [15]:
a=10
areaofcircle=3.14*(a**2)
print(areaofcircle)

314.0

In [19]:
b=12
areaofcircle=3.14*(12**2)
print(areaofcircle)

452.16

In [21]:
c=25.67
areaofcircle = 3.14 * (25.67 ** 2)
print(areaofcircle)

2069.0995460000004

In [ ]:
3)Write a Python program to get the volume of a sphere with radius six

In [23]:
volume=4/3 * 3.14 * 6 **3
print(volume)

904.3199999999999

In [ ]:
4) Write a Python program that will accept the base and height of a triangle and compute
its area. Height 12 cm and base 6 cm

In [31]:
height =12
base =6
areaoftri = 1/2 * (12 * 6)
print(areaoftri)

36.0

In [ ]:
5) Write a Python program to compute the simple interest, P = 100000, r = 8%, T = 1
year.

In [39]:
s=100000
r=8/100
t=1
si=s*r*t/100
print(si)

80.0

In [ ]:
6) Write a Python program to calculate the hypotenuse of a right angled triangle

In [43]:
from math import sqrt
base = 3
height=4
hypotenus = sqrt(base **2 + height ** 2)
print(hypotenus)

5.0

In [ ]:
8) Write a Python program to swap two variables.

In [45]:
x=10
y=20

temp =x
x=y
y=temp
print(x , y)

20 10

In [ ]:
Write a program to calculate the area of square of side 10 cm

In [47]:
side =10
areaofsquare = 10*10
print(areaofsquare)

100

In [ ]:
Write a program to comvert 250 kg into gram

In [51]:
kilo =250
convert = 1000 * 250
print(convert)

250000