# Exception Handling-III
# List of general use exception

In [3]:
try:
    a=10/0

except Exception as e:
    print(e)

division by zero

In [5]:
try :
    a=10/0

except ZeroDivisionError as e:
    print(e)

division by zero

In [8]:
try:
    int("apple")

except (TypeError,ValueError) as e:
    print(e)

invalid literal for int() with base 10: 'apple'

In [10]:
try:
    int("apple")

except : 
    print("this will be error")

this will be error

In [12]:
try:
    import cherry

except ImportError as e:
    print(e)

No module named 'cherry'

In [18]:
try:
    d={"name":"rahul","age":26,"married":"single"}
    print(d["key2"])

except KeyError as e:
    print(e)

'key2'

In [20]:
try:
    "apple".test()

except AttributeError as e:
    print(e)

'str' object has no attribute 'test'

In [22]:
try:
    a=[10,20,30,40]
    print(a[6])

except IndexError as e:
    print(e)

list index out of range

In [24]:
try:
    "apple"+25

except TypeError as e:
    print(e)

can only concatenate str (not "int") to str

In [39]:
try:
    with open("test.txt","r") as f:
        file=f.read()

except FileNotFoundError as e:
    print(e)

In [41]:
try:
    with open("test.txt","r") as f:
        file=f.read()

except Exception as e:
    print(e)

except FileNotFoundError as e:
    print(e)

In [43]:
try:
    with open("test.txt","r") as f:
        file=f.read()


except FileNotFoundError as e:
    print("hello",e)

except Exception as e:
    print(e)

In [ ]:
try:
    with open("test.txt","r") as f:
        file=f.read()


except FileNotFoundError as e:
    print("hello",e)

except Exception as e:
    print(e)

In [47]:
try:
    with open("test.txt","r") as f:
        file=f.read()


except FileNotFoundError as e:
    print("hello",e)

except TypeError as e:
    print("student",e)

except Exception as e:
    print(e)

In [49]:
try:
    with open("test.txt","r") as f:
        file=f.read()

except TypeError as e:
    print("student",e)


except FileNotFoundError as e:
    print("hello",e)



except Exception as e:
    print(e)