In [ ]:
Question 1 - In an experiment the scientist was measuring the length of a line, 
the following are the lengths in mm 2.398,5.639,7.452,0.123,5.754
find the average length and also round off upto 2 digits

In [8]:
x=2.398+5.639+7.452+0.123+5.754
averagelen=x/5
print("average length are :",averagelen)
print("round off are ",round(averagelen,2))

average length are : 4.2732
round off are  4.27

In [ ]:
2) Rahul travelled a distance of 12567.7854 km. divide it the cost 45,78,63 rs. Find the 
average of quotient and remainder and figured out the round off value of the 
quotient and remainder

In [28]:
a1=divmod(12567.7854,45)
a2=divmod(12567.7854,78)
a3=divmod(12567.7854,63)
avgQ=a1[0]+a2[0]+a3[0]/3
print("The average of Quotient is :",avgQ)
print("The round off is :",round(avgQ))

The average of Quotient is : 506.3333333333333
The round off is : 506

In [32]:
avgR=a1[1]+a2[1]+a3[1]/3
print("The average of Remainder is :",avgR)
print("the average of Quotient is :",round(avgR))

The average of Remainder is : 32.83260000000155
the average of Quotient is : 33

3) 10524 raise to the power 2,3,4,5 and divide it by 71. find the remainder in each case

In [38]:
a1=pow(10524,2,71)
a2=pow(10524,3,71)
a3=pow(10524,4,71)
a4=pow(10524,5,71)

print(a1)
print(a2)
print(a3)

43
49
3

4) enter the values of 5 stocks in the form of float from the user and find the average of 
the 5 stocks and finally round off.

In [40]:
a1=input("Enter 1st stock :")
a2=input("Enter 2nd stock :")
a3=input("Enter 3rd stock :")
a4=input("Enter 4th stock :")
a5=input("Enter 5the stock :")

Enter 1st stock : 12.23
Enter 2nd stock : 45.23
Enter 3rd stock : 78.36
Enter 4th stock : 55.63
Enter 5the stock : 78.99

In [44]:
a1=float(a1)
a2=float(a2)
a3=float(a3)
a4=float(a4)
a5=float(a5)

In [46]:
avg=a1+a2+a3+a4+a5
avgS=avg/5
print(avgS)

54.088

In [48]:
print("round off is :",round(avgS))

round off is : 54

In [ ]:
Find the minimum, maximum, and finally sort in the ascending and descending order 
[1578,52,-6,78,965,741,2365,7895,412,-236,86,120,-96,-41,752,12,0,3,7,-89]

In [54]:
x=[1578,52,-6,78,965,741,2365,7895,412,-236,86,120,-96,-41,752,12,0,3,7,-89]
print("maximum : ", max(x))
print("minimum :",min(x))
print("sorted are :",sorted(x))
print()

maximum :  7895
minimum : -236
sorted are : [-236, -96, -89, -41, -6, 0, 3, 7, 12, 52, 78, 86, 120, 412, 741, 752, 965, 1578, 2365, 7895]